:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    --primary: #213547;
    --secondary: #2e475a;
    --card: #3a5369;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body,
:root,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    overflow: hidden;
}

#app {
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    background-color: var(--secondary);
    border-radius: 0.5rem;
    margin: 2rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
    margin-top : 10px;
    margin-bottom: 10px;
}